* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.description-title {
  text-align: center;
  font-family: "Hammersmith One";
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .description-title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .description-title {
    font-size: 36px;
    text-align: start;
  }
}

.description-content {
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .description-content {
    text-align: left;
  }
}

.logos {
  display: flex;
  width: 320px;
  padding: 0px 59px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .logos {
    display: flex;
    width: 536px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 592px;
    padding-left: 5px;
    gap: 30px;
  }
}

.news-title {
  text-align: center;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .news-title {
    margin-top: 50px;
  }
}

.download-title {
  text-align: center;
  font-family: "Hammersmith One";
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 576px) {
  .download-title {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .download-title {
    font-size: 36px;
  }
}

.download-content {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 992px) {
  .download-content.mobile {
    display: none;
  }
}

.download-content.desktop {
  opacity: 0%;
}

@media (min-width: 992px) {
  .download-content.desktop {
    opacity: 100%;
  }
}
